<!DOCTYPE html> <!--　この文章がHTML文章であることを伝える要素です。-->
<html lang="ja"><!--言語の指定-->
    <head><!--ページに表示されない情報(サイトの裏側の設定)-->
        <meta charset="utf-8">
    </head>

    <body>
        <title>カフェ診断</title><!--ブラウザのタブのタイトルを指定-->
        <div class="shops-back">
            <div class="shops-photo"> 
                <img src="https://images.unsplash.com/photo-1542181961-9590d0c79dab?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
            </div>
            <div class="shops-head">
                <h1 class="headline">
                    <a>Diagnosis</a>
                </h1>
                <p>― あなたに合ったカフェを提案します ―</p>
            </div>
            <div class="start">
                <a href="./shops/new" class="btn btn-svg">
                    <svg>
                        <rect x="2" y="2" rx="0" fill="none" width=200 height="50"></rect>
                    </svg>
                    <span>Start</span>
                </a>            
            </div>
        </div>
    </body>
</html>