<div class="login-container">
  <h2>Login</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="login-field1">
      <h3>email</h3>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="login-field2">
      <h3>password</h3>
      <%= f.password_field :password, autocomplete: "off" ,class:"password-field" %>
    </div>


    <div class="actions">
      <%= f.submit "login", class:"action-btn"%>
    </div>
  <% end %>

  <p>
    <a href="/users/password/new">Forgot password?</a>
    <br>
    <a href="/users/sign_up">Need an account?</a>
    <br>
  </p>
</div>

