<div class="category-hunniki">
    <h2>Category</h2>
    <ul>
        <li>
            <a href="./hunniki1"><img src="https://article-image.travel.navitime.jp/img/NTJkyoto1001/NTJkyoto1001_0.jpg"></a>
            <p>レトロ</p>
        </li>
        <li>
            <a href="./hunniki2"><img src="https://vakel.studio/wp-content/uploads/2021/03/cafesov_07-1920x1260.jpg"></a>
            <p>落ち着く</p>
        </li>
        <li>
            <a href="./hunniki3"><img src="https://images.unsplash.com/photo-1570806879179-3582cdacfb60?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wxNTgwfDB8MXxzZWFyY2h8MjYyfHxjYWZlfGVufDB8fHx8MTcwNTYzMTg2Mnww&ixlib=rb-4.0.3&q=80&w=400"></a>
            <p>にぎやか</p>
        </li>
        <li>
            <a href="./hunniki4"><img src="https://stat.ameba.jp/user_images/20230421/16/fl-turquoise/c1/16/j/o1080081015273532083.jpg"></a>
            <p>無機質</p>
        </li>
        <li>
            <a href="./hunniki5"><img src="https://tabizine.jp/wp-content/uploads/2020/10/363157-03.jpg"></a>
            <p>自然あふれる</p>
        </li>
        <li>
            <a href="./hunniki6"><img src="https://wink-jaken.com/wp-content/uploads/urtlamain-w.png"></a>
            <p>アート</p>
        </li>
        <li>
            <a href="./hunniki7"><img src="https://ideal-shop.jp/wp-content/uploads/2021/05/dayanara-nacion-HuIJUp6gTDI-unsplash.jpeg"></a>
            <p>アメリカン</p>
        </li>
        <li>
            <a href="./hunniki8"><img src="https://fki.ismcdn.jp/mwimgs/e/3/-/img_e33b9a2b63b2317f8199f88bd45baa00224895.jpg"></a>
            <p>和風</p>
        </li>
        <li>
            <a href="./hunniki9"><img src="https://cdnspacemarket.com/uploads/attachments/755490/image.jpg?width=375&height=210&fit=crop&quality=75&format=jpg&dpr=2&auto=webp"></a>
            <p>ヴィンテージ</p>
        </li>
    </ul>