<div class="hunniki-back">
    <h1>自然溢れるカフェ</h1>
    
    <div class="hunniki-container">
        <h4>mister parlor（ミスターパーラー）</h4>
        <section class="section io on">
            <div class="grid grid--no-gutters">
                <div class="grid__item medium-up--one-half">
                    <div class="swiper-container">
                        <div class="media__image">
                            <img class="swiper-lazy" src="https://www.nishitetsu.jp/nishitetsu_news/wp-content/uploads/2023/06/mp3_2.jpg">
                        </div>
                    </div>
                </div>
                <div class="grid__item medium-up--one-half">
                    <div class="p-content">
                        <div class="shop-info">
                            <h3>店舗情報</h3>
                            <dl>
                                <div class="shop-item1">
                                    <dd>営業時間</dd>
                                    <dt>Sunday-Thursday：10:00〜19:00 (L.O18:30)
                                    <p>Friday-Saturday：10:00〜21:00 (L.O20:30)</p></dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item2">
                                    <dd>定休日</dd>
                                    <dt>無</dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item3">
                                    <dd>電話番号</dd>
                                    <dt>093-967-0658</dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item4">
                                    <dd>SNS</dd>
                                    <dt>Instagram: @mister_parlor_kokura</dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item5">
                                    <dd>クチコミ</dd>
                                    <dt><%= link_to "クチコミ投稿する", posts_new_path %></dt>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <h4>WALL（ウォール）</h4>
        <section class="section io on">
            <div class="grid grid--no-gutters">
                <div class="grid__item medium-up--one-half">
                    <div class="swiper-container">
                        <div class="media__image">
                            <img class="swiper-lazy" src="https://kitaq.media/wp-content/uploads/2022/09/DSC09353.jpg">
                        </div>
                    </div>
                </div>
                <div class="grid__item medium-up--one-half">
                    <div class="p-content">
                        <div class="shop-info">
                            <h3>店舗情報</h3>
                            <dl>
                                <div class="shop-item1">
                                    <dd>営業時間</dd>
                                    <dt>Sunday-Saturday：12:00〜24:00</dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item2">
                                    <dd>定休日</dd>
                                    <dt>火曜</dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item3">
                                    <dd>電話番号</dd>
                                    <dt>080-3181-9217</dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item4">
                                    <dd>SNS</dd>
                                    <dt>Instagram: @wall.wall.wall.wall.wall.wall</dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item5">
                                    <dd>クチコミ</dd>
                                    <dt><%= link_to "クチコミ投稿する", posts_new_path %></dt>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>