<div class="hunniki-back">
    <h1>レトロなカフェ</h1>

    <div class="hunniki-container">
        <h4>CAFE DE FAN FAN（カフェドファンファン）</h4>
        <section class="section io on">
            <div class="grid grid--no-gutters">
                <div class="grid__item medium-up--one-half">
                    <div class="swiper-container">
                        <div class="media__image">
                            <img class="swiper-lazy" src="https://kitaq.media/wp-content/uploads/2022/01/DSC09693.jpg">
                        </div>
                    </div>
                </div>
                <div class="grid__item medium-up--one-half">
                    <div class="p-content">
                        <div class="shop-info">
                            <h3>店舗情報</h3>
                            <dl>
                                <div class="shop-item1">
                                    <dd>営業時間</dd>
                                    <dt>Monday-Thursday：8:00〜20:00
                                    <p>Friday-Sunday：8:00〜23:00 (L.O 22:45)</p></dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item2">
                                    <dd>定休日</dd>
                                    <dt>無</dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item3">
                                    <dd>電話番号</dd>
                                    <dt>090-551-4817</dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item4">
                                    <dd>SNS</dd>
                                    <dt>Instagram: @cafe_de_fanfan</dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item5">
                                    <dd>クチコミ</dd>
                                    <dt><%= link_to "クチコミ投稿する", posts_new_path %></dt>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <h4>紫留来（シルク）</h4>
        <section class="section io on">
            <div class="grid grid--no-gutters">
                <div class="grid__item medium-up--one-half">
                    <div class="swiper-container">
                        <div class="media__image">
                            <img class="swiper-lazy" src="https://tblg.k-img.com/restaurant/images/Rvw/141935/640x640_rect_141935063.jpg">
                        </div>
                    </div>
                </div>
                <div class="grid__item medium-up--one-half">
                    <div class="p-content">
                        <div class="shop-info">
                            <h3>店舗情報</h3>
                            <dl>
                                <div class="shop-item1">
                                    <dd>営業時間</dd>
                                    <dt>Monday-Friday：10:00〜20:00
                                    <p>Saturday：12:00〜18:00</p></dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item2">
                                    <dd>定休日</dd>
                                    <dt>日曜</dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item3">
                                    <dd>電話番号</dd>
                                    <dt>093-531-4818</dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item4">
                                    <dd>SNS</dd>
                                    <dt>Instagram: @mocha0113silk</dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item5">
                                    <dd>クチコミ</dd>
                                    <dt><%= link_to "クチコミ投稿する", posts_new_path %></dt>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>