<div class="hunniki-back">
    <h1>ヴィンテージカフェ</h1>

    
    <div class="hunniki-container">
        <h4>DINER’S CAFE（ダイナースカフェ）</h4>
        <section class="section io on">
            <div class="grid grid--no-gutters">
                <div class="grid__item medium-up--one-half">
                    <div class="swiper-container">
                        <div class="media__image">
                            <img class="swiper-lazy" src="https://fanfunfukuoka.nishinippon.co.jp/wp-content/uploads/2023/12/diners-cafe_hamburger_kokura-1.jpg">
                        </div>
                    </div>
                </div>
                <div class="grid__item medium-up--one-half">
                    <div class="p-content">
                        <div class="shop-info">
                            <h3>店舗情報</h3>
                            <dl>
                                <div class="shop-item1">
                                    <dd>営業時間</dd>
                                    <dt>Sunday-Saturday：11:30〜16:00</dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item2">
                                    <dd>定休日</dd>
                                    <dt>木曜</dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item3">
                                    <dd>電話番号</dd>
                                    <dt>093-551-5114</dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item4">
                                    <dd>SNS</dd>
                                    <dt>Instagram: @diners_cafe</dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item5">
                                    <dd>クチコミ</dd>
                                    <dt><%= link_to "クチコミ投稿する", posts_new_path %></dt>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>