/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ===============================================
ヘッダーのスタイリング
=============================================== */
.header {
    height: 120px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
     z-index: 1000; /*常に最前面にする */
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    color: black;
    padding: 0 25px;
    margin-right: auto;
    margin-left: auto;
}
.header__logo a {
    font-family: 'Hannari','Yu Mincho','游明朝',YuMincho,'Hiragino Mincho ProN',serif;
    font-weight: normal;
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

/* ===============================================
ハンバーガーボタンのスタイリング
=============================================== */
input[type="checkbox"] {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
.hamburger {
    display: block;
    width: 50px;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.hamburger span,
.hamburger span::before,
.hamburger span::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.5s;
}
.hamburger span::before {
    top: -10px;
}
.hamburger span::after {
    bottom: -10px;
}
input[type="checkbox"]:checked + .hamburger span {
    background-color: transparent;
}
input[type="checkbox"]:checked + .hamburger span::before {
    top: 0;
    transform: rotate(45deg);
}
input[type="checkbox"]:checked + .hamburger span::after {
    bottom: 0;
    transform: rotate(-45deg);
}

/* ===============================================
メニューのスタイリング
  =============================================== */
.nav {
    position: fixed;
    width: 20%;
    height: 100vh;
    top: 80px;
    right: -120%;
    background-color: #fff;
    color: #fff;
    padding: 50px 0;
    transition: all 0.5s;
}
.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav ul li {
    margin: 10px;
    border-bottom: 1px solid #333;
}
.nav__item a {
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    padding: 1rem;
    transition-duration: 0.2s;
}
.nav__item a:hover {
    background-color: #e4e4e4;
}
input[type="checkbox"]:checked ~ .nav {
    right: 0;
}
#mask {
    display: none;
    transition: all 0.5s;
    background-color: #333;
}
